/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    border-width: .5px;
    border-color: lightgray;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activated, .accordion:hover {
    background-color: #F5F5F5;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02193'; /* Unicode character for "arrow down*/
    font-size: 25px;
    color: lightgray;
    float: right;
    margin-left: 5px;
    border-width: 3px;
  }
  
  .activated:after {
    content: '\02191'; /* Unicode character for "arrow up */
  }