hr.frontpage {
    width: 7%;
    border-top: 2px solid white;
    padding-bottom: 1rem;
}

hr.front-bottom {
    border-top: 2px solid white;
}

hr.about {
    width: 7%;
    border-top: 3px solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


a.text-white.nav-link.js-scroll-trigger {
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

div.row.frontpage-bottom-section {
    padding-top: 3rem;
}

#about {
    padding-top: 5rem;
}

#services {
    padding-top: 5rem;
}

.img-about {
    width: 100%;
    height: 100%;
}

.text-centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#blue-line {
    margin-top: 6rem;
    background: #95E1D3;
}

.vl {
    border-left: 1px solid white;
    height: 12rem;
    padding: 4%;
}

.services-divider {
    width: 100%;
    border-top: 1px solid lightgrey;

}

#design {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background: url(../images/grunge-green-bird-sketch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.divider{
    width:5px;
    height:1px;
    display:inline-block;
}

#services-bottom-section {
    padding-bottom: 5rem;
}

#ipad-img {
    margin-bottom: -2.2%;
}

#iphone-img {
    position: absolute;
    float: right;
    padding-left: 35%;
    padding-top: 22%;
}

#services_v1 {
    padding-top: 6rem;
}

#what-we-do-img {
    /*max-height: 90%;*/
    max-width: 100%;
}

#speech-bubble {
    border: 2px solid #95E1D3;
    padding: 15%;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(50%);
}

.carousel-divider {
    width: 100%;
    
    border-top: 2.5px solid red;
}

.team-img {
    width: 100%;
    height: 100%;
}

.brands {
    width: 80%;
    height: 100%;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

#clients {
    background: url(../images/unique-design-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.people-divider {
    width: 15%;
    border-top: 2px solid red;
}

.tag {
    float: left;
    position: absolute;
    top: 140px;
    left: 0px;
    z-index: 1000;
    background-color: #95E1D3;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.instagram {
    max-width: 100%;
}

.contact-divider {
    width: 100%;
    border-top: 1px solid lightgrey;
}