#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#creative-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}

#about-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}

#about-second-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#about-p {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    color: lightslategrey;
    padding-bottom: 4rem;
}

#welcome-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    font-weight: 700;
}

h4.frontpage-bottom-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}
p.frontpage-bottom-font {
    display: inline;
}

.text-over-img {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#about-bottom-text-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

#about-bottom-text {
    font-family: 'Roboto', sans-serif;
    font-size: .7rem;
    font-weight: 200;
}

.services-bottom-title{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 200;
    text-align: left;
}

.services-bottom-text {
    font-family: 'Roboto', sans-serif;
    font-size: .5rem;
    font-weight: 200;
    text-align: left;
    color: grey;
}

#accordion-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
}

.carousel-text {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-style: italic;
    padding-top: 5%;
}

.carousel-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem;
}

.team-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.team-text {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 200;
    text-align: left;
    color: grey;
    text-align: center;
}

.title-over-gallery {
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    text-align: center;
}

.text-over-gallery {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    text-align: center;
    font-style: italic;
}

.people-title {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    text-align: left;
}

.people-job {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    font-style: italic;
}

.people-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    color: grey;
}

.blog-title {
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    text-align: left;
}

.blog-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    text-align: left;
    color:grey;
}

.blog-counter {
    padding-right: 2%;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    color: grey;
}

.tag-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.tag-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 0%;
}

.followers-big {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    display: inline;
}

.follow-us {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    color: lightgrey;
    display: inline;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 6%;
}

.contact-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10%;
    margin-bottom: 0%;
}

.contact-date {
    font-family: 'Montserrat', sans-serif;
    font-size: .5rem;
    font-weight: 400;
    color: lightgray;
    font-style: italic;
    text-align: left;
    padding-top: 3%;
}

.view-photos {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    color: grey;
    padding-top: 3%;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-align: center;
    color: black;
    display: inline;
}

.footer-name {
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-align: center;
    color: red;
    display: inline;
}