.masthead {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background: url(../images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }